
node_modules

/.nyc_output
/coverage
/playground
/.idea
/.cache
build
/dist
/src/**/*.js
/server/**/*.js
/web/**/*.js
/test/**/*.js
/example/**/*.js
*.map
*.jsx
/tool/**/*.js
/temp
/example/**/*.ticlo
/yarn-error.log
/server/lib/namerenaRun.dart.js
